<span *ngIf="member.show">Sending to all members in {{member.label}}</span>
<div *ngIf="member.show">
    <span>Course name: {{member.course_name}}</span><br>
    <span *ngIf="member.course_description">description: {{member.course_description}}</span><br>
    <span *ngIf="member.class_time">Class start time : {{member.class_time}}</span><br>
</div>
<input [(ngModel)]="subject" type="text" placeholder="Subject....">
<app-wysiwyg [(ngModel)]="msgBody"></app-wysiwyg>
<button (click)="send()">Send</button>
<input *ngIf="futureEngagementAvailable" id="all_members_class" [(ngModel)]="futureEngagement" type="checkbox" >
<label *ngIf="futureEngagementAvailable" for="all_members_class">All members in the class can recieve this message</label>