<span *ngIf="member_show.course || member_show.class">Sending to all members in </span>
<span *ngIf="member_show.course">Course</span>
<span *ngIf="member_show.class">Class</span>
<div *ngIf="member_show.course">
    <span>Course name: </span><p>{{member.course_name}}</p><span>description: </span><p>{{member.course_description}}</p>
</div>
<div *ngIf="member_show.class">
    <span>Class start time</span><p>{{member.class_time}}</p>
</div>
<input [(ngModel)]="subject" type="text" placeholder="Subject....">
<app-wysiwyg [(ngModel)]="msgBody"></app-wysiwyg>
<button (click)="send()">Send</button>
<input [(ngModel)]="all_members_class" type="checkbox" (change)="tick(all_members_class)" ><label for="all_members_class">All members in the class can recieve this message</label>