<section id="features" class="container-small">
  <div class="row text-center">
    <div class="col-sm-12 mb-xl">
      <h2>Start & grow</h2>
      <!--<p class="lead">Our optimized one size fits all solution saves your time and money when running and growing meetup communities, activity coaches/centers, and other kind of event hosts.</p>-->
      <p class="lead"></p>
    </div>
    <div class="col-sm-4 mb-l">
      <ul class="nav flex-column text-justify">
        <li class="nav-item active">
          <a class="nav-link active" href="#tab-start">Start</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab-manage">Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab-confirm">Confirm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab-grow">Grow</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 mb-l">
      <div class="tab-content text-justify">
        <div class="tab-pane fade show active" id="tab-start">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="h4">Quick setup</h3>
              <p class="text-secondary">Introduce your courses, drag and drop your activities into a calendar, and start recruiting attendees.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Flexible requirements</h3>
              <p class="text-secondary">Your activities are unique and so are your requirements. Our platform takes no assumptions and provides full flexibility.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Branded image</h3>
              <p class="text-secondary">The reservation system and all notifications to the end-users will look yours, and make your brand stand out.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Integrate & Share</h3>
              <p class="text-secondary">Easy to integrate into your website or app, if you don't have one you can also share through social media.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-manage">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="h4">Team Management</h3>
              <p class="text-secondary">Invite team members to collaborate, ensure security with two-factor auth, and control your organization activities from centralized dashboard.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Real time updates</h3>
              <p class="text-secondary">Stay updated with what's going on with real time analysis and updates of your courses.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Process prepayments</h3>
              <p class="text-secondary">Minimize no-shows, and increase convinience, both for you and your costumers, while keeping record of payment tracking.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4"></h3>
              <p class="text-secondary"></p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-confirm">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="h4">Track active users</h3>
              <p class="text-secondary">Naturally build trust with your community, keep it engaged, and get insights of their interests.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Increase commitment</h3>
              <p class="text-secondary">Message all your users from a single point</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4"></h3>
              <p class="text-secondary"></p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4"></h3>
              <p class="text-secondary"></p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-grow">
          <div class="row">
            <div class="col-sm-6">
              <embed src="<%= require('../../img/alert_time.svg') %>">
              <h3 class="h4">Real-time alerts</h3>
              <p class="text-secondary">Weather, unsubscriptions,</p>
            </div>
            <div class="col-sm-6">
              <embed src="<%= require('../../img/chart.svg') %>">
              <h3 class="h4">Summary dashboard</h3>
              <p class="text-secondary">Know how your events perform over time, when to repeat increase frequency, or switch to new activities.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4"></h3>
              <p class="text-secondary"></p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4"></h3>
              <p class="text-secondary"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>