<section id="features" class="container-small">
  <div class="row text-center">
    <div class="col-sm-12">
      <h2>Start & grow</h2>
      <!--<p class="lead">Our optimized one size fits all solution saves your time and money when running and growing meetup communities, activity coaches/centers, and other kind of event hosts.</p>-->
      <p class="lead"></p>
    </div>
    <div class="col-sm-4">
      <ul class="nav flex-column text-justify">
        <li class="nav-item active">
          <a class="nav-link active" href="#tab-start">Start</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab-manage">Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab-confirm">Confirm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab-grow">Grow</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="tab-content text-justify">
        <div class="tab-pane fade show active" id="tab-start">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="h4">Quick setup</h3>
              <p>Introduce your courses and your classes</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Flexible requirements</h3>
              <p>Your activities are unique and so are your requirements. Our platform provides flexibility when it comes to requirements, so you and your costumers can focus on what's truly important.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Branded image</h3>
              <p>The reservation system will look genuinely yours.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Integrate & Share</h3>
              <p>Integrate into your website or app, quick, in seconds, wordpress, </p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-manage">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="h4">Team Management</h3>
              <p>Invite team members to collaborate, ensure security with two-factor auth, and control your resources with centralized billing.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Real time updates</h3>
              <p>Stay updated with what's going on with real time analysis and updates of your courses.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Process prepayments</h3>
              <p>Minimize no-shows, and increase convinience, both for you and your costumers, while keeping record of payment tracking.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4"></h3>
              <p></p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-confirm">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="h4">Track active users</h3>
              <p>Naturally build trust with your community, keep it engaged, and get insights of their interests.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4">Increase commitment</h3>
              <p>Message all your users from a single point</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4"></h3>
              <p></p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4"></h3>
              <p></p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-grow">
          <div class="row">
            <div class="col-sm-6">
              <embed src="<%= require('../../img/alert_time.svg') %>">
              <h3 class="h4">Real-time alerts</h3>
              <p>Weather, unsubscriptions,</p>
            </div>
            <div class="col-sm-6">
              <embed src="<%= require('../../img/chart.svg') %>">
              <h3 class="h4">Summary dashboard</h3>
              <p>Know how your events perform over time, when to repeat increase frequency, or switch to new activities.</p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4"></h3>
              <p></p>
            </div>
            <div class="col-sm-6">
              <h3 class="h4"></h3>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>