<form (submit)="recover()">
  <p *ngIf="step == 0">Please introduce the email with which you registered</p>
  <div class="inputBox">
    <input type="text" id="email" name="email" autocapitalize="off" autocorrect="off" [disabled]="step > 0" [(ngModel)]="email" required>
    <label for="email">Email</label>
  </div>

  <p *ngIf="step == 1">Please introduce the code we've sent to your email</p>
  <div class="inputBox" *ngIf="step >= 1">
    <input type="text" id="code" name="code" [(ngModel)]="code" [disabled]="step > 1" required>
    <label for="code">Code</label>
  </div>

  <p *ngIf="step == 2">Please introduce your new password</p>
  <div class="inputBox" *ngIf="step >= 2">
    <input type="password" id="password" name="password" [(ngModel)]="password" [disabled]="step > 2" required>
    <label for="password">Password</label>
  </div>

  <div class="text-center">  
    <button type="submit" class="btn">Submit</button>
  </div>
</form>