<div class="table-responsive" style="overflow-x: visible;">
  <table class="DataTable table table-striped table-bordered table-hover dataTables-example" >
      <thead>
      <tr>
          <th>Col 1</th>
          <th>Col 2</th>
          <th>Col 3</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
          <th>Col 1</th>
          <th>Col 2</th>
          <th>Col 3</th>
      </tr>
      </tfoot>
      <tbody>
      <tr>
          <td>A</td>
          <td>B</td>
          <td>C</td>
      </tr>
      <tr>
          <td>D</td>
          <td>E</td>
          <td>F</td>
      </tr>
      </tbody>
  </table>
</div>