<!--
<div class="col-sm-7 text-center-xs text-justify-sm mt-s mb-s">
  <a href="/" class="h1 productname text-decoration-none">
    <embed class="mt-xs" style="max-height: 40px; vertical-align: sub;" src="<%= require('../img/logo.svg') %>">
    <span>MySpotBook</span>
  </a>
</div>
<div class="col-sm-5 text-center-xs text-right-sm mt-s mb-s">
  <a class="btn btn-success" href="#">Login</a>
  <a class="btn btn-primary" href="#">Signup</a>
</div>
-->
<div class="col-sm-7 col-md-6 col-lg-4 text-center-xs text-justify-sm mt-s mb-s">
  <a href="/" class="h1 productname text-decoration-none">
    <embed class="mt-xs" style="max-height: 40px; vertical-align: text-bottom;" src="<%= require('../img/logo.svg') %>">
    <span>MySpotBook</span>
  </a>
</div>
<ul class="nav col-md-3 col-lg-5 col-xl-6 text-center-xs text-left-sm">
  <!--
  <li class="nav-item">
    <a class="nav-link" href="services/overview.html">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="services/pricing.html">Pricing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="support.html">Support</a>
  </li>
  -->
</ul>
<div class="col-sm-4 col-md-3 col-xl-2 text-center-xs text-left-sm text-right-md mt-s mb-s">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="about.html">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="partners.html">Partnership</a>
    </li>
  </ul>
  <!--
  <a class="btn btn-success" href="#">Login</a>
  <a class="btn btn-primary" href="#">Signup</a>
  -->
</div>