:root {
    --darkBg: rgb(27, 27, 27);
    --lightBg: rgb(212, 212, 212);
    --mainColor: rgb(255, 148, 47);
}

* {
    outline: 0;
}

embed {
    pointer-events: none;
}

.productname, .productname:hover, .productname:focus, .productname:active {
    color: var(--mainColor);
}

html, body {
    height: 100%;
}

a:not(.btn):not(.nav-link) {
    text-decoration: underline;
}

section {
    padding: 7rem 0 3.5rem 0;
}

header {
    background-color: var(--darkBg);
    color: var(--mainColor);
}

main {
    background-color: white; /*var(--lightBg);*/
}

footer {
    background-color: var(--darkBg);
    color: white;
}

ol, ul {
    list-style: none inside;
    padding-left: 0;
}

h1, h2, h3,
.h1, .h2, .h3 {
    font-weight: bold;
}

section#statistics {
    padding-top: 2rem;
    background-color: var(--lightBg);
}

section#intro {}

section#features {
    background-color: white;
}

header .jumbotron {
    color: black;
    padding: 3rem 3rem;
    margin-bottom: 0;
}

footer a {
    color: grey;
    text-decoration: none !important;
}

footer a:hover {
    color: white;
}

.circle {
    padding-top: 1.6rem;
    display: inline-block;
    border: 3px dotted;
    border-radius: 100rem;
    width: 7.065rem;
    height: 7.065rem;
    margin: 1.5rem;
}


select, textarea, input {
    margin: 10px 0;
}

#h1-index {
    font-size: 3rem;
    font-weight: bold;
}

select, input {
    height: 50px !important;
}

header .nav a {
    color: var(--mainColor);
}

