.mt-xs {
  margin-top: 8px !important;
}

.mt-s {
  margin-top: 16px !important;
}

.mt-l {
  margin-top: 32px !important;
}

.mt-xl {
  margin-top: 64px !important;
}



.mr-xs {
  margin-right: 8px !important;
}

.mr-s {
  margin-right: 16px !important;
}

.mr-l {
  margin-right: 32px !important;
}

.mr-xl {
  margin-right: 64px !important;
}



.ml-xs {
  margin-left: 8px !important;
}

.ml-s {
  margin-left: 16px !important;
}

.ml-l {
  margin-left: 32px !important;
}

.ml-xl {
  margin-left: 64px !important;
}



.mb-xs {
  margin-bottom: 8px !important;
}

.mb-s {
  margin-bottom: 16px !important;
}

.mb-l {
  margin-bottom: 32px !important;
}

.mb-xl {
  margin-bottom: 64px !important;
}



.pt-xs {
  padding-top: 8px !important;
}

.pt-s {
  padding-top: 16px !important;
}

.pt-l {
  padding-top: 32px !important;
}

.pt-xl {
  padding-top: 64px !important;
}



.pb-xs {
  padding-bottom: 8px !important;
}

.pb-s {
  padding-bottom: 16px !important;
}

.pb-l {
  padding-bottom: 32px !important;
}

.pb-xl {
  padding-bottom: 64px !important;
}






.text-justify-xs {
  text-align: justify;
}

.text-center-xs {
  text-align: center;
}

.text-right-xs {
  text-align: right;
}

.text-left-xs {
  text-align: left;
}

@media (min-width: 576px) {
  .text-justify-sm {
      text-align: justify;
  }

  .text-center-sm {
    text-align: center;
  }

  .text-right-sm {
    text-align: right;
  }

  .text-left-sm {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .text-justify-md {
      text-align: justify;
  }

  .text-center-md {
    text-align: center;
  }

  .text-right-md {
    text-align: right;
  }

  .text-left-md {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .text-justify-lg {
      text-align: justify;
  }

  .text-center-lg {
    text-align: center;
  }

  .text-right-lg {
    text-align: right;
  }

  .text-left-lg {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .text-justify-xl {
      text-align: justify;
  }

  .text-center-xl {
    text-align: center;
  }

  .text-right-xl {
    text-align: right;
  }

  .text-left-xl {
    text-align: left;
  }
}