
<div>
    <form >
      <label for="name">Course Name</label>
      <input #name name="name" placeholder="Course name">
      <label for="description">Course description</label>
      <textarea #description name="description" placeholder="Course description"></textarea>
      <ng-container *ngFor="let info of infos">
        <label>{{info.label}}</label>
        <input type="checkbox"[value]="info.value" (change)="toggle($event)">
      </ng-container>
      <button type="click" (click)="save(name.value, description.value)">SAVE</button>
    </form>
  </div>
 
  <button>CREATE</button>
<!--Edit Page-->
<div>
  <form>
    <span>{{newCourse.id}}</span>
    <label for="name">Course Name</label>
    <input id="name" #name value="{{newCourse.name}}">
    <button class="fas fa-save" (click)="update(name.value)"></button>
  </form>

  <!--
    
  <div class="row">
      <span >COURSE ID:</span><p class="id">{{course.id}}</p> 
      <span >COURSE NAME:</span><p class="name">{{course.name}}</p> 
      <span>COURSE description:</span><p>{{course.description}}</p> 
      <span>COURSE Requirements:</span><p>{{course.reqInfo}}</p>
      <button (click)="save()">
     
    </div>
  -->
