<!--TAKE OUT ORIGINAL CREATECOURSE TEMPLATE AND TRY TO MERGE TO ONE
<div>
  <form>
    <label for="name">Course Name</label>
    <input #name name="name" placeholder="Course name">
    <label for="description">Course description</label>
    <textarea #description name="description" placeholder="Course description"></textarea>
    <ng-container *ngFor="let info of infos">
      <label>{{info.label}}</label>
      <input type="checkbox" [value]="info.value" (change)="toggle($event)">
    </ng-container>
    <button type="click" (click)="save(name.value, description.value)">SAVE</button>
  </form>
</div>

<button>CREATE</button>
-->
<div>
  <span>{{newCourse.id}}</span>
  <label for="name">Course Name</label>
  <input [(ngModel)] = "newCourse.name">
  <label for="description">Course Description</label>
  <textarea [(ngModel)] = "newCourse.description"></textarea>
  <ng-container *ngFor="let info of infos">
      <label>{{info.label}}</label>
      <input type="checkbox" [checked]= "check(info.value)" [value]="info.value" (change) = "toggle($event)" [checked]="alwaysChecked(info.value)" [disabled]="alwaysChecked(info.value)" >
  </ng-container>
  <button class="btn" (click)="updateOrCreate()" routerLink="/main/courseslist"><i class="fas fa-save"></i>SAVE</button> 
</div>
<!--Edit Page without ngModel
<div>
  <form>
    <span>{{newCourse.id}}</span>
    <label for="name">Course Name</label>
    <input id="name" #name value="{{newCourse.name}}">
    <label for="description">Course Description</label>
    <input id="description" #description value="{{newCourse.description}}">
    <ng-container *ngFor="let info of infos">
      <label>{{info.label}}</label>
      <input type="checkbox" [value]="info.value" (change)="toggle($event)">
    </ng-container>
    <button class="fas fa-save" (click)="update(name.value, description.value)"></button>
  </form>
-->
  <!--
    
  <div class="row">
      <span >COURSE ID:</span><p class="id">{{course.id}}</p> 
      <span >COURSE NAME:</span><p class="name">{{course.name}}</p> 
      <span>COURSE description:</span><p>{{course.description}}</p> 
      <span>COURSE Requirements:</span><p>{{course.reqInfo}}</p>
      <button (click)="save()">
     
    </div>
  -->