<p>courses are</p>
<button routerLink="/main/createcourse"><i class="fas fa-plus"></i></button>

<app-datatable [displayLength]="10" [export]="false" [invisible]="[]" unsearchable="[0]" (onDblClick)="test($event)" [autoload]="false">
  <thead>
      <tr>
          <th>ID</th>
          <th>NAME</th>
          <!--
          <th>description</th>
          -->
          <th>Requirements</th>
          <th></th>
          
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let course of list">
          <td>{{course.id}}</td>
          <td>{{course.name}}</td>
          <!--
          <td>{{course.description}}</td>
          -->
    
          <td><i [ngClass]="course.reqInfo | reqIcon:course.reqInfo"></i>{{course.reqInfo | reqIcon:course.reqInfo}}</td>
      
          <td>
            <button  routerLink="/main/createcourse/{{course.id}}" class="fas fa-edit icon" title="Edit"></button>
            <button  routerLink="/main/classeslist/{{course.id}}" class="fas fa-chalkboard-teacher icon" title="Schedules"></button>
            <button  routerLink="/main/statistics/course/{{course.id}}" class="fas fa-chart-line icon" title="Statistics"></button>
            <button  routerLink="/main/contactUsers/course/{{course.id}}" class="fas fa-comment icon" title="Engage with participants"></button>
          </td>
      </tr>
  </tbody>
  <tfoot>
      <tr>
          <th>ID</th>
          <th>NAME</th>
          <!--
          <th>description</th>
          -->
          <th>Requirements</th>
          <th></th>
      </tr>
  </tfoot>
</app-datatable>