<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('./assets/html/meta.html')({title: ''}) %>
  <link defer rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>

<body>
  <div class="container">
    <h1>Calendar</h1>
    <div class="row">
      <div class="card test" style="width: 341px;" id="class_template">
        <div class="card-thumb">
          <img class="render_image" style="display:none">
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <div class="card-date">
            <p class="card_startDateTime"></p>
            <p class="card_finishDateTime"></p>
          </div>
          <hr>
        </div>
        <div class="footer">
          <div>
            <span class="fas fa-map-marker-alt"></span>
            <p class="card-text place"></p>
          </div>
          <div>
            <span class="fas fa-user-friends"></span>
            <p class="card-text card_spots_going"></p>
            <p class="card-text card_spots_left" style = "display:none"></p>
          </div>
        </div>

      </div>
    </div>
    <script src="<%= htmlWebpackPlugin.files.chunks['calendar'].entry %>"></script>
</body>

</html>