<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('./assets/html/meta.html')({title: ''}) %>
  <link defer rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="card test" style="width:350px;" id="class_template">
        <div class="card-thumb">
          <img class="render_image" style="display:none">
        </div>
        <div class="card-body">
          <div class="date-thumb">
            <p class="month"></p>
            <p class="date"></p>
          </div>
          <div class="card-content">
            <h5 class="card-title"></h5>
            <p class=" card_startDateTime"></p>
            <p class=" card_finishDateTime"></p>
          </div>
        </div>
        <div class="footer">
          <div>
            <p class="card-text place"></p>
          </div>
          <div>
            <p class="card-text card_spots_going"></p>
            <p class="card-text card_spots_left" style = "display:none"></p>
          </div>
        </div>

      </div>
    </div>
    <script src="<%= htmlWebpackPlugin.files.chunks['calendar'].entry %>"></script>
</body>

</html>