<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('./assets/html/meta.html')({title: ''}) %>
  <link defer rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
<style>
  body {
    padding: 1.5rem;
    text-align: center;
  }
  .hidden {
    display: none;
  }
  #data {
    background-color: darkgray;
    display: inline-block;
    border-radius: 10px;
    padding: 1.5rem;
  }
  #descripcio {
    text-align: justify;
  }
  #register {
    background-color: darkgray;
    display: inline-block;
    border-radius: 10px;
    padding: 1.5rem;
  }
</style>
<body>
  <h1></h1>
  <div id="data">
    <span id="date"><b>DATE:</b> </span>&nbsp;::&nbsp;
    <span id="tini"><b>START TIME:</b> </span>&nbsp;::&nbsp;
    <span id="tend"><b>FINISH TIME:</b> </span>&nbsp;::&nbsp;
    <span id="spots"><b>spots left:</b> </span>&nbsp;
  </div>
  <div id="descripcio">
  </div>
  <form id="register">
    <strong>REQUIRE INFORMATION</strong> :
    <div id="fname" class="hidden">
      <label for="fname" >FULL NAME:</label>
      <input type="text" id="fname" placeholder="Enter your full name" >
    </div>
    <div id="email" class="hidden">
      <label for="email">EMAIL:</label>
      <input type="email" placeholder="Enter your email" >
    </div>
    <div id="phone" class="hidden">
      <label for="phone">PHONE:</label>
      <input type="text"  placeholder="Enter your phone number" >
    </div>
    <div id="age" class="hidden">
      <label for="age">AGE:</label>
      <input type="text"  placeholder="Enter your age" >
    </div>
    <fieldset id="gender" class="hidden">
      <legend>GENDER:</legend> 
      <input type="radio" id="female" name="gender" value="f" > 
      <label for="female">FEMALE</label>
      <input type="radio" id="male" name="gender" value="m">
      <label for="male">MALE</label>
    </fieldset>
    <button type="submit">SUBMIT</button>
  </form>
  <button id="addCalendar">Add to Google Calendar</button>

  <img id="picture_url" >
  <script src="<%= htmlWebpackPlugin.files.chunks['class'].entry %>"></script>
</body>
</html>