<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('./assets/html/meta.html')({title: ''}) %>
  <link defer rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
  <!-- BEGIN SHAREAHOLIC CODE -->
<link rel="preload" href="https://cdn.shareaholic.net/assets/pub/shareaholic.js" as="script" />
<meta name="shareaholic:site_id" content="99e57fa0afc91bccc8dc639bb3fb0c2d" />
<script data-cfasync="false" async src="https://cdn.shareaholic.net/assets/pub/shareaholic.js"></script>
<!-- END SHAREAHOLIC CODE -->
</head>
<style>
  body {
    padding: 1.5rem;
    text-align: center;
  }
  .hidden {
    display: none;
  }
  /*
  #data {
    background-color: darkgray;
    display: inline-block;
    border-radius: 10px;
    padding: 1.5rem;
  }
  */
  #descripcio {
    text-align: justify;
  }
  /*
  #register {
    background-color: darkgray;
    display: inline-block;
    border-radius: 10px;
    padding: 1.5rem;
  }
  */
</style>
<body>
  <div class="nav-class container">
    <div class="row">
      <div class="date-thumb col-sm-1">
        <p class="month">JAN</p>
        <p class="date">3</p>
      </div>
      <h1 class="title-class col-sm-8"></h1>
    </div>
  </div>
  <div class="container">
    <div class="col">
      <div>
        <img id="picture_url"  class="image-class">
      </div>  
      <div class="flex-row">
        <p class="row-icons">
            <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i><i class="fab fa-whatsapp"></i><i class="fab fa-line"></i><i class="fab fa-weixin"></i>
        </p>
        <p class="rsvp"><span></span>RSVP</p>
      </div>
      <section class="well">
          <div id="data" class="info-class">
              <i class="far fa-clock"></i>&nbsp<span id="date"></span>&nbsp;&nbsp;
              <span id="tini"></span>&nbsp; -&nbsp;
              <span id="second_Date"></span>
              <span id="tend"></span>&nbsp;&nbsp;
              <span id="spots" class="float"></span>&nbsp;
          </div>
          <hr>
          <div id="descripcio" ></div>
      </section>
      
      <!--
      <section  id="data" class="well">
          <span id="date"><b>DATE:</b> </span>&nbsp;::&nbsp;
          <span id="tini"><b>START TIME:</b> </span>&nbsp;::&nbsp;
          <span id="tend"><b>FINISH TIME:</b> </span>&nbsp;::&nbsp;
          <span id="spots"><b>spots left:</b> </span>&nbsp;
      </section>
      -->
      <section  class="well">
        <h1></h1>
        <strong>REQUIRE INFORMATION</strong> 
          <form id="register">
              <div id="fname" class="hidden form-group row">
                <label class="col-sm-2 col-form-label" for="fname" >FULL NAME:</label>
                <div class="col-sm-10">
                  <input  class="form-control" type="text" id="fname" placeholder="Enter your full name" >
                </div>
              <div id="email" class="hidden">
                <label class="col-sm-2 col-form-label" for="email">EMAIL:</label>
                <input  class="form-control" type="email" placeholder="Enter your email" >
              </div>
              <div id="phone" class="hidden">
                <label class="col-sm-2 col-form-label" for="phone">PHONE:</label>
                <input  class="form-control" type="text"  placeholder="Enter your phone number" >
              </div>
              <div id="age" class="hidden">
                <label class="col-sm-2 col-form-label" for="age">AGE:</label>
                <input  class="form-control" type="text"  placeholder="Enter your age" >
              </div>
              <fieldset id="gender" class="hidden">
                <legend>GENDER:</legend> 
                <input class="form-check-input" type="radio" id="female" name="gender" value="f" > 
                <label  class="col-sm-2 col-form-label"class="form-check-label" for="female">FEMALE</label>
                <input class="form-check-input" type="radio" id="male" name="gender" value="m">
                <label  class="form-check-label" for="male">MALE</label>
              </fieldset>
              <button type="submit" class="btn btn-primary">SUBMIT</button>
            </form>
            <button id="addCalendar">Add to Google Calendar</button>
        </section>
      </div>
  </div>
  <!----->
  <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="28684961">hey</div>


    
     
  
  
  

  
  <script src="<%= htmlWebpackPlugin.files.chunks['class'].entry %>"></script>
</body>
</html>