<!-- TODO -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('./assets/html/meta.html')({title: ''}) %>
    <link defer rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>

<body>
  <h3>CONFIRMATION PAGE</h3>
  <h2 id="course"></h2>
  <div id="content">
    <div id="confirmed" style="display:none">
      <div>Thank you for confirming</div>
    </div>
    <div id="unsure" style="display:none">
      <div >Please contact your organizer</div>
    </div>
  </div>
  <div class="panel-body">
    <p id="company_name"></p>
    <p id="course_name"></p>
    <p id="start"></p>
    <p id="organizer_contact"></p>
    <p>CHIALING WILL INSERT PIC LATER:p</p>
  </div>
    
    
  <script src="<%= htmlWebpackPlugin.files.chunks['confirmation'].entry %>"></script>
</body>

</html>