<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('./assets/html/meta.html')({title: 'MySpotBook - About'}) %>
  <link defer rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
<body>
  <header class="container-fluid">
    <div class="row align-items-center">
      <%= require('./assets/html/header.nav.html')() %>
      <%= require('./assets/html/about/header.html')() %>
    </div>
  </header>
  <main class="container-fluid container-small">
    <%= require('./assets/html/about/values.html')({ htmlWebpackPlugin }) %>
    <%= require('./assets/html/about/who-we-are.html')({ htmlWebpackPlugin }) %>
  </main>
  <%= require('./assets/html/footer.2.html')() %>
</body>
</html>