<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('./assets/html/meta.html')({title: 'MySpotBook - Reservation Made Easy, Save your Time'}) %>
  <link defer rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
<body>
  <header class="container-fluid">
    <div class="row align-items-center">
      <%= require('./assets/html/header.nav.html')() %>
      <%= require('./assets/html/index/header.html')() %>
    </div>
  </header>
  <main class="container-fluid">
    <%= require('./assets/html/index/statistics.html')({ htmlWebpackPlugin }) %>
    <%= require('./assets/html/index/features.html')({ htmlWebpackPlugin }) %>
  </main>
  <%= require('./assets/html/footer.html')() %>
</body>
</html>