<app-datatable [displayLength]="10" [export]="exportOptions" [invisible]="[0,1]" unsearchable="[0,1]" (onDblClick)="test($event)" [autoload]="false">
    <thead>
        <tr>
            <th>ID</th>
            <th>CLASS ID</th>
            <th *ngIf="reqInfoShow.fname">FULL NAME</th>
            <th *ngIf="reqInfoShow.email">EMAIL</th>
            <th *ngIf="reqInfoShow.phone">PHONE</th>
            <th *ngIf="reqInfoShow.age">AGE</th>
            <th *ngIf="reqInfoShow.gender">GENDER</th>
            <th>DELETE</th>
            <th *ngIf="confirmationSection">CONFIRMATION</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>CLASS ID</th>
            <th *ngIf="reqInfoShow.fname">FULL NAME</th>
            <th *ngIf="reqInfoShow.email">EMAIL</th>
            <th *ngIf="reqInfoShow.phone">PHONE</th>
            <th *ngIf="reqInfoShow.age">AGE</th>
            <th *ngIf="reqInfoShow.gender">GENDER</th>
            <th>DELETE</th>
            <th *ngIf="confirmationSection">CONFIRMATION</th>
        </tr>
    </tfoot>
    <tbody>
        <tr *ngFor="let reserve of reservationUsers">
            <td>{{reserve.id}}</td>
            <td>{{reserve.classId}}</td>
            <td *ngIf="reqInfoShow.fname">{{reserve.fname}}</td>
            <td *ngIf="reqInfoShow.email">{{reserve.email}}</td>
            <td *ngIf="reqInfoShow.phone">{{reserve.phone}}</td>
            <td *ngIf="reqInfoShow.age">{{reserve.age}}</td>
            <td *ngIf="reqInfoShow.gender">{{reserve.gender}}</td>
            <td>
              <button class="btn" (click)="deleteReserve(reserve.id)"><i class="fas fa-trash"></i></button>
            </td>
            <td *ngIf="confirmationSection">{{reserve.confirmation}}</td>
        </tr>
    </tbody>
</app-datatable>