<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>SpotBook of {{ _classInfo.name }} scheduled for {{ _classInfo.tsIni*1000 | date:'MMM d, y, HH:mm' }}</h5>
                </div>
                <div class="ibox-content">
                    <ng-container *ngIf="reservationUsers.length > 0">
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <button type="button" routerLink="/main/statistics/schedule/{{ _classInfo.id }}" class="btn btn-success">See statistics</button>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" (click)="requestConfirmation()" class="btn btn-success" [disabled]="_classInfo.confirmationSent || _classStarted(_classInfo)">Request confirmation</button>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Search spots" [ngModel]="_search" (ngModelChange)="search($event)">
                            </div>
                        </div>
                        <hr>
                    </ng-container>
                    <app-datatable *ngIf="reservationUsers.length > 0" [displayLength]="10" [export]="exportOptions" [invisible]="invisible" unsearchable="invisible" [autoload]="false">
                        <thead>
                            <tr>
                                <th>Full name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>History</th>
                                <th>Confirmation</th>
                                <th>Rollcall</th>
                                <th data-sortable="false"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Full name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>History</th>
                                <th>Confirmation</th>
                                <th>Rollcall</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let reserve of reservationUsers">
                                <td [innerHTML]="reserve.fname | nullable"></td>
                                <td [innerHTML]="reserve.email | nullable"></td>
                                <td [innerHTML]="reserve.phone | nullable"></td>
                                <td [innerHTML]="reserve.age | nullable"></td>
                                <td [innerHTML]="reserve.gender | gender | nullable"></td>
                                <td [innerHTML]="reserve.history | async | history | nullable"></td>
                                <td>
                                    <edit-confirmation-status [ngModel]="reserve.confirmation" (ngModelChange)="updateConfirmationStatus(reserve.id, $event)"></edit-confirmation-status>
                                </td>
                                <td>
                                    <edit-rollcall-status [ngModel]="reserve.status" (ngModelChange)="updateReservationStatus(reserve.id, $event)"></edit-rollcall-status>
                                </td>
                                <td>
                                    <button type="button" (click)="deleteReserve(reserve.id)" class="fas fa-trash icon" title="Delete"></button>
                                </td>
                            </tr>
                        </tbody>
                    </app-datatable>
                    <div *ngIf="reservationUsers.length == 0">
                        No one reserved a spot for this event yet.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
