<button routerLink="/main/createclass/{{courseId}}"><i class="fa fa-plus"></i></button>
<app-selectcourse (selectEvent)="receiveCourseId($event)" [selectedCourse]="courseId"></app-selectcourse>


<!--
<div class="row" *ngFor="let class of classes">
  <span>CLASS ID</span><p class="id">{{class.id}}</p>
  <span>CLASS STARTS</span><p class="name">{{class.tsIni}}</p> 
  <span>CLASS FINISHES</span><p class="name">{{class.len}}</p> 
  <span>CLASS SPOTS</span><p class="name">{{class.spots}}</p>    
  <button  routerLink="/main/createclass/{{class.id}}" class="fas fa-edit">Edit</button>
</div>
-->

<app-datatable [displayLength]="10" [invisible]="[0]" unsearchable="[0]" (onDblClick)="test($event)" [autoload]="false">
    <thead>
        <tr>
            <th>ID</th>
            <th>STARTS</th>
            <th>FINISHES</th>
            <th>SPOTS</th>
            <th></th>
            
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>STARTS</th>
            <th>FINISHES</th>
            <th>SPOTS</th>
            <th></th>
            
        </tr>
    </tfoot>
    <tbody>
        <tr *ngFor="let class of classes">
            <td>{{class.id}}</td>
            <td>{{class.tsIni}}</td>
            <td>{{class.len}}</td>
            <td>{{class.spots}}</td>
            <td>
                <button routerLink="/main/createclass/{{courseId}}/{{class.id}}" class="fas fa-edit icon" title="Edit"></button>
        
                <button routerLink="/main/classReservations/{{class.id}}" class="fas fa-address-book icon" title="Reservation List"></button>
            
               
                <button routerLink="/main/statistics/class/{{class.id}}" class="fas fa-chart-line icon" title="Statistics"></button>
            
                <button routerLink="/main/contactUsers/class/{{class.id}}" class="fas fa-comment icon" title="Engage with participants"></button>
                <button *ngIf="class.tsIni > now" (click)="classConfirm(class.id)" (click) = "class.tsIni = 0" class="fas fa-clipboard-check icon" title="Confirm"></button>
                <span *ngIf="!(class.tsIni > now)">Confirmation not available</span>
            </td>
        </tr>
    </tbody>
</app-datatable>