<p>
  classeslist works!
</p>
<button routerLink="/main/createclass"><i class="fa fa-plus"></i></button>
<app-selectcourse (selectEvent)="receiveCourseId($event)" [selectedCourse]="courseId"></app-selectcourse>
<span>COURSE ID:</span><p>{{courseId}}</p> 
<div class="row" *ngFor="let class of classes">
  <span>CLASS ID</span><p class="id">{{class.id}}</p>
  <span>CLASS STARTS</span><p class="name">{{class.tsIni}}</p> 
  <span>CLASS FINISHES</span><p class="name">{{class.len}}</p> 
  <span>CLASS SPOTS</span><p class="name">{{class.spots}}</p>    
  <button  routerLink="/main/createclass/{{class.id}}" class="fas fa-edit">Edit</button>
</div>