
.card-style {
    margin: 5px, 0;
}

.header-style {
   padding: 5px;
}

.statistics-icon, .header-style{
    margin: 10px;
}

.card-title, .statistics-icon {
    font-size:30px;
}

.text-statistics, .text-repeat, .title-gender {
    font-size: 20px;
}


.text-gender {
    font-size: 20px;
    padding-left: 25px;

}

.dash-box {
    text-align:center;
}
