/*tO BE ERASED LATER*/
.erased{
    margin-bottom: 50px;

}


.statistics-icon{
  font-size:30px;
  margin: 10px;
}

.card-title {
    font-size:30px;
}



.card-text-repeat {
    font-size: 20px;
}

.card-title-gender {
 
    font-size: 20px;
}
.card-text-gender {
    padding-left: 25px;
}

.card-text-statistics {
    font-size:20px;
}

.dash-box {
    text-align:center;
}