<form>
  <div class="inputBox">
    <input type="text" #companyName name="name" [(ngModel)]="company.name" required>
    <label for="name">Name</label>
  </div>

  <div class="inputBox">
    <input type="text" #email name="email" autocapitalize="off" autocorrect="off" [(ngModel)]="company.email" required>
    <label for="email">Email</label>
  </div>

  <div class="inputBox">
    <input type="password" #password name="password" [(ngModel)]="company.password" required>
    <label for="password">Password</label>
  </div>
  
  <div class="inputBox"></div>

  <div class="text-center">  
    <button type="submit" class="btn" (click)="signup()">Submit</button>
  </div>
</form>