body {
  background: none transparent;
  font-family: Montserrat;
}

.container {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.4;
}
#class_template {
  display: none;
}
.card {
  margin: 15px;
  cursor: pointer;
}

.card-body {
 
}

.card-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
}

.card-date {
font-weight: 600;
font-size: 15px;
line-height: 25px;
}

.render_image {
  margin: 0;
  padding: 0;
  width:100%;
  height: 220px;
  object-fit: cover;
}

.card_startDateTime, .card_finishDateTime {
  margin: 0;
}

.footer {
  font-size: 15px;
  color: #A3A9AB;
}

.fas {
  margin: 10px;
  font-size: 20px;
}

.card-text {
  display: inline-block;
  margin: 0px 5px;  
  font-weight: 700;
  font-size: 20px;
}

/*to limit the place addy*/

.place {
  max-width: 200px;
  vertical-align: sub;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}







