.inputBox {
  position: relative;
  margin-bottom: 30px;
}

.inputBox input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  background:transparent;
  outline: none;
}

.inputBox input:-webkit-autofill,
.inputBox input:-webkit-autofill:hover,
.inputBox input:-webkit-autofill:focus,
.inputBox input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  -webkit-text-text-color: #fff;
}

.inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  transition: .5s; 
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top:-20px;
  font-size: 12px;
}